{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-bottom: 10px;">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="alert alert-{{ message.tags }}">
                {{ message }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
{% if form.errors %}
<div class="alert alert-danger" role="alert">
    <ul>
        {% for field, errors in form.errors.items %}
        {% for error in errors %}
        <li>{{ field }}: {{ error }}</li>
        {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}

<h1>{% if category %}Update Category{% else %}Create Category{% endif %}</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Save</button>
</form>
</div>
{% endblock %}
