{% extends 'base.html' %}

{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="alert alert-{{ message.tags }}">
                {{ message }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
<div class="container mt-5">
    <h1>Recipes</h1>
    <div class="row">
        {% for recipe in recipes %}
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
                <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.image.url }}">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.title }}</a></h5>
                    <p class="card-text">{{ recipe.content|truncatewords:50 }}</p>
                    {% if user.id == recipe.author_id %}
                    <a href="{% url 'recipe_update' recipe.pk %}" class="btn btn-primary">Update</a>
                    <a href="{% url 'recipe_delete' recipe.pk %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                    {% for comment in comments %}
                    <div class="card-body">

                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if perms.app.add_recipe %}
    <a href="{% url 'recipe_create' %}" class="btn btn-success">Create recipe</a>
    {% endif %}
</div>


{% endblock %}
