<!-- recipe_form.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-bottom: 10px;">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="alert alert-{{ message.tags }}">
                {{ message }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
{% if form.errors %}
<ul>
    {% for field, errors in form.errors.items %}
    <li>{{ field }}: {{ errors }}</li>
    {% endfor %}
</ul>
{% endif %}

<h1>{% if recipe %}Update Recipe{% else %}Create Recipe{% endif %}</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>
</div>
{% endblock %}
